<% if turbo_frame_request? %>
  <%= turbo_frame_tag "modal" do %>
    <div class="p-6 md:p-8 bg-gray-50">
      <%= render "devise/registrations/account_content" %>
    </div>
  <% end %>
<% else %>
  <div class="p-6 md:p-8 bg-gray-50 rounded-lg shadow-md">
    <%= render "devise/registrations/account_content" %>
  </div>
<% end %>
